{% extends 'base.html' %}
{% load static %}
{% block title %}
Contact
{% endblock title %}

{% block content %}
{% comment %}
  <h1>{{error_msg}}</h1>
{% endcomment %}

{% comment %}<div class = "form">
   <form action="{% url 'home' %}" method = 'POST'>
       {% csrf_token %}
<label for = "#firstname">First Name :</label>
<input type= "text" name = "fname" id = "firstname" placeholder= "Enter your name..">
<br>
<hr>
<label for="#lastname">Last Name: </label>
<input type="text" name = "lname" id = "lastname" placeholder= "Enter your lastname">
<br>
<hr>

<label for="#email">Email : </label>
<input type="email" name = "email" id = "email" placeholder= "Enter your email ">
<br>
<hr>

<label for="#mobile">Mobile : </label>
<input type="number" name = "mobile" id = "mobile" placeholder= "Enter your mobileno ">
<br>
<hr>

<label for="#password">Password : </label>
<input type="password" name = "password" id = "password" placeholder= "Enter your password ">
<br>
<hr>

<label for="#gender">Gender : </label>
<input type="radio" name = "gender" value = "male">Male
<input type="radio" name = "gender" value = "female">Female
<br>
<hr>
<input type="submit" value = "submit">
</form>
</div>
{% endcomment %}
{% comment "" %}login button{% endcomment %}
{% comment %}
  
<form action="{% url 'login' %}" method = "POST">
    {% csrf_token %}
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary" value = "login">Submit</button>
  </form>
{% endcomment %}
<div id ="mydiv">
<div class = "myname" id = "myname1">div 1</div>
<div type = "text" class = "myname" id = "myname2">div 2</div>
<div type = "text" class = "myname" id = "myname3">div 3</div>
</div>
<button onclick = "crElement()">create</button>

  {% endblock content %}
