{% extends 'base.html' %}
{% load cart %}
{% block title %}
Home
{% endblock title %}
{% block content %}
<div class="container">
  <div class="row mx-auto">
    <div class="col-lg-3">
      <div class="list-group">
        <div class="btn btn-info">Category</div>
        {% for category in cate %}
        <a href="/home/?Category={{category.id}}" class="list-group-item list-group-item-action " aria-current="true">
          {{category.name}}
        </a>
        {% endfor %}
      </div>
    </div>

    <div class='col-lg-9'>
      <div class='row mx-auto'>
        {% for img in path %}
        <div class="card mx-auto my-3" style="width: 18rem;">
          <img src="{{img.image.url}}" class="card-img-top" width=250>
          <div class="card-body">
            <h5 class="card-title">{{img.name}}</h5>
            <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-currency-dollar" viewBox="0 0 16 16">
                <path
                  d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
              </svg>{{img.price}}</p>
            <div class="card-footer row-no-gutter">
              {% if img|isexistincart:request.session.cart %}
              <div class="row">
                <form action="#{{img.id}}" method="post" class="col-2">
                  {% csrf_token %}
                  <input type="text" name="cartid" value={{img.id}} hidden>
                  <input type="text" name="minus" value="True" hidden>
                  <input type="submit" value="-" class="btn btn-block btn-primary">
                </form>
                <div class="text-center col">{{img|cartquantity:request.session.cart}}</div>
                <form action="#{{img.id}}" method="post" class="col-2">
                  {% csrf_token %}
                  <input type="text" name="cartid" value={{img.id}} hidden>
                  <input type="submit" value="+" class="btn btn-block btn-primary">
                </form>
              </div>
              {% else %}
              <form action="#{{img.id}}" method="post">
                {% csrf_token %}
                <input type="text" name="cartid" value={{img.id}} hidden>
                <button type="submit" class="btn btn-primary btn-block form-control">Add to cart</button>
              </form>

              {% endif %}


            </div>

 

          </div>
        </div>

        {% endfor %}
      </div>
    </div>

    {% if error_msg %}
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h3>{{error_msg}}</h3>
          </div>
          <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
  
  {% endblock content %}
  <script>
    if(window.history.replaceState)
    {
      window.history.replaceState(null,null,window.location.href);
    }
  
  </script>